@page "/"

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name
        <p>You are verified as a user Enjoy!</p>
    </Authorized>
    <NotAuthorized>
        <AuthLogin />
    </NotAuthorized>
</AuthorizeView>

