@inherits LayoutComponentBase
@* 
<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
 *@
<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <a href="https://github.com/TooEnsure-OpenSource/BlazorWebAuthentication" target="_blank" class="">
                <img style="height:100%; width:15rem;" src="img/logo.png" alt="">
            </a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
